# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.env.*

# Flask
ml_flask/venv/

# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
.installed.cfg
*.whl

# Virtualenv
env/
.venv/
env.bak/
venv.bak/
ml_flask/venv/

# Pyre type checker
.pyre/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json